body, html , .container{
  height: 100%;
  overflow-y: none;
}
.container > h1 {
  max-height: 10%;
}
.chat-logs-container {
  height: 80%;
  overflow-y: scroll;
  border:1px solid #eee;
  border-radius: 2px;
}

.chat-logs-container img{
  border: 1px solid #aaa;
  padding: 3px;
  margin: 1px;
  max-height: 200px;
}
.message-wrap{
  height: 10%;
}

